@media (max-width: 1500px) {
  .container {
    width: 100%;
  }

  .button-play {
    color: #fff;
  }

  .button-play::after {
    width: 85px;
    height: 85px;
    left: -113px;
  }
  
  .button-play:before {
    width: 99px;
    height: 99px;
    left: -120px;
  }

  .header {
    padding: 25px 0 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .home-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home-content {
    width: 650px;
  }

  .home-content + * {
    margin-left: 50px;
  }

  .home-content__text {
    font-size: 30px;
    line-height: 45px;
  }
  
  .home-content__text span {
    font-size: 60px;
    line-height: 85px;
    margin-bottom: 35px;
  }

  .home-image {
    width: 50%;
  }

  .howitworks {
    padding-bottom: 80px;
  }

  .video-content + * {
    margin-top: 40px;
  }

  .video__title {
    font-size: 65px;
    line-height: 100px;
  }

  .video {
    /* display: flex;
    flex-direction: column; */
  }

  .video-img-wrapper {
    width: 600px;
  }

  .video-description {
    padding: 50px 40px 90px;
    }

  .video-description p {
    font-size: 18px;
    margin-bottom: 20px;  
  }

  .video-description__btn {
    bottom: 100px;
    left: 75px;
  }

  .description {
    padding-top: 120px;
  }

  .description-img-wrapper {
    margin-right: 50px;
  }

  .description-content__title {
    font-size: 35px;
    line-height: 50px;
  }

  .description-content__title + * {
    margin-top: 30px;
  }

  .description-content p {
    font-size: 25px;
    line-height: 40px;
  }

  .heading-title {
    font-size: 65px;
    line-height: 100px;
  }

  .ourproject-heading + * {
    margin-top: 135px;
  }

  .ourproject {
    padding-bottom: 150px;
  }

  .ourproject-card {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .testimonial {
    padding-bottom: 170px;
  }

  .testimonial__title {
    font-size: 65px;
    line-height: 100px;
  }

  .testimonial__title  + * {
    margin-top: unset;
  }

  .testimonial-card-content {
    padding: 50px 70px 119px 80px;
  }
}

@media (max-width: 1441px) {
  .header-nav ul li + li {
    margin-left: 60px;
  }

  .home {
    padding: 90px 0 100px;
  }

  .home-image {
    width: 50%;
  }

  home-content {
    width: 610px;
  }

  .home-content + * {
    margin-left: 20px;
  }

  .home-content__text span {
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  .ourproject-card {
    grid-template-columns: repeat(auto-fit, 430px);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .card {
    width: 430px;
  }

  .card__title {
    font-size: 35px;
    line-height: 55px;
  }

  .card-img {
    margin-top: 30px;
  }

  testimonial-card-img-wrap {
    min-width: 580px;
  }

  .testimonial-card-content {
    padding: 50px 50px 119px 60px;
  }

  .testimonial-card-content-statistics p {
    font-size: 27px;
    line-height: 40px;
  }

  .testimonial-card-content-statistics p > span {
    font-weight: 800;
    font-size: 65px;
    line-height: 100px;
  }
}

@media (max-width: 1429px) {
  .video-img-wrapper {
    min-width: 870px;
  }

  .video-description {
    height: 287px;
    padding: 35px 35px 30px;
  }


  .video-description__btn {
    bottom: 75px;
  }

  .ourproject-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonial-card-img-wrap {
    min-width: 550px;
  }

  .testimonial-card-content {
    padding: 40px 40px 30px 55px;
  }

  .testimonial-card-content-statistics p + p {
    margin-left: 75px;
  }

  .testimonial-card-content-statistics + * {
    margin-top: 100px;
  }

  .testimonial-card-content__author {
    margin-top: 30px;
  }

  .testimonial-card-content__text {
    font-size: 23px;
    line-height: 36px;
  } 

  .testimonial-card-content__text::before {
    font-size: 270px;
    line-height: 321px;
  }
}

@media (max-width: 1299px) {
  .home {
    padding: 70px 0 75px;
  }

  .home-content {
    width: 600px;
  }

  .home-content__text {
    font-size: 25px;
    line-height: 40px;
  }
  
  .home-content__text span {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .home-content__text + * {
    margin-top: 40px;
  }

  .howitworks {
    padding-bottom: 55px;
  } 

  .video__title {
    font-size: 60px;
    line-height: 90px;
  }

  .video__subtitle {
    font-size: 25px;
    line-height: 35px;
  }

  .description {
    padding-top: 90px;
  }

  .description-img-wrapper {
    margin-right: 35px;
  }

  .heading-title {
    font-size: 60px;
    line-height: 70px;
  }

  .heading-subtitle-double-underscore {
    font-size: 27px;
  }

  .ourproject-heading__title + * {
    margin-top: 15px;
  }

  .ourproject {
    padding-bottom: 85px;
  }

  .ourproject-heading + * {
    margin-top: 110px;
  }

  .testimonial__title {
    font-size: 60px;
    line-height: 80px;
  }

  .testimonial-companies img + img {
    margin-left: 65px;
  }

  .contactus-heading + * {
    margin-left: 55px;
  }
}

@media (max-width: 1271px) {
  .video-img-wrapper {
    min-width: 850px;
  }

  .video-description {
    height: 280px;
    padding: 25px 25px 30px;
  }

  .video-description__btn {
    bottom: 35px;
  } 

  .testimonial {
    padding-bottom: 90px;
  }

  .testimonial-card-img-wrap {
    min-width: 450px;
  }

  .testimonial-card-content {
    padding: 20px 20px 20px 55px;
  }

  .testimonial-card-content-statistics + * {
    margin-top: 60px;
  }

  .contactus {
    padding-bottom: 150px;
  }
}

@media (max-width: 1162px) {
  .btn, a.btn {
    height: 65px;
  }

  .header-nav {
    display: none;
  }

  .header-signup {
    display: none;
  }

  .home {
    padding: 50px 0 60px;
  }

  .howitworks {
    padding-bottom: 45px;
  }

  .video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }

  .video-img-wrapper {
    min-width: 750px;
    z-index: -1;
  }

  .video-img-wrapper + * {
    margin-top: 20px;
  }

  .video-img-wrapper img {
    border-radius: 10px;
  }

  .video-description {
    width: 750px;
    border-radius: 10px;
    height: 230px;
    padding: 20px 20px 15px;
  }

  .video-description__btn {
    bottom: 55px;
    left: 350px;
  }

  .description {
    padding-top: 60px;
  }

  .ourproject-heading + * {
    margin-top: 90px;
  } 

  .ourproject {
    padding-bottom: 60px;
  }

  .testimonial {
    padding-bottom: 70px;
  } 

  .testimonial-companies img + img {
    margin-left: 55px;
  }

  .testimonial-companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .testimonial-card-img-wrap {
    display: none;
  }

  .testimonial-card-content {
    padding: 20px 50px 30px 60px;
  }

  .testimonial-card-content-statistics {
    text-align: center;
  }

  .testimonial-card-content-statistics p {
    line-height: 30px;
  }

  .testimonial-card-content-statistics + * {
    margin-top: 75px;
  }

  .contactus {
    padding-bottom: 100px;
  }

  .contactus-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contactus-heading + * {
    margin-left: unset;
  }

  .contactus-form {
    max-width: 850px;
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .home-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home-content + * {
    margin: unset;
  }

  .home-image {
    display: none;
  }

  .description-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .description-img-wrapper {
    margin: 25px 0 0 0;
    width: 450px;
  }

  .description-content__title {
    text-align: center;
  }

  .card {
    text-align: center;
  }

  .card + .card {
    margin-top: 25px;
  }

  .contactus-form {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 40px 0 45px;
  }

  .home-content__text {
    font-size: 20px;
    line-height: 35px;
  }

  .home-content__text span {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .video__title {
    font-size: 50px;
    line-height: 75px;
  }

  .video-content + * {
    margin-top: 30px;
  }

  .video-img-wrapper {
    min-width: 599px;
  }

  .video-description {
    width: 599px;
  }

  .video-description__btn {
    bottom: 48px;
    left: 300px;
  }

  .description {
    padding-top: 10px;
  }

  .description-content {
    width: 500px;
  }

  .description-content p {
    font-size: 20px;
    line-height: 35px;
  }

  .heading-title {
    font-size: 50px;
    line-height: 45px;
  }

  .card__title {
    font-size: 30px;
    line-height: 45px;
  }

  .testimonial {
    padding-bottom: 45px;
  } 

  .testimonial__title {
    font-size: 50px;
    line-height: 35px;
  }

  .testimonial-card-content {
    padding: 20px 15px 20px 30px;
  }

  .testimonial-card-content-statistics p {
    font-size: 25px;
  }

  .testimonial-card-content-statistics p + p {
    margin-left: 40px;
  }

  .testimonial-card-content-statistics p > span {
    font-size: 50px;
    line-height: 50px;
  }

  .testimonial-card-content__text {
    font-size: 18px;
    line-height: 33px;
  }

  .testimonial-card-content__text::before {
    font-size: 180px;
    line-height: 290px;
  }

  .testimonial-card-content__text::before {
    left: -30px;
  }
  
  .testimonial-card-content-statistics + * {
    margin-top: 55px;
  }

  .testimonial-card-content__author {
    font-size: 17px;
    margin-top: 20px;
  }

  .contactus-heading {
    text-align: center;
  }

  .heading-title {
    line-height: 40px;
  }

  .contactus-heading__subtitle {
    font-size: 24px;
    line-height: 34px;
  }

  .contactus-heading__subtitle.heading-subtitle-double-underscore:after {
    background-position: center;
  }

  .contactus-form {
    max-width: 650px;
  }

  .form__input {
    font-size: 23px;
    line-height: 23px;
  }

  .form__message {
    height: 135px;
    font-size: 23px;
    line-height: 28px;
  }

  .form {
    padding: 54px 35px;
  }

  .popup-wrap {
    border-radius: unset;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .popup form {
    border: none;
  }

  .form-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 662px) {
  .home-content {
    width: 500px;
  }

  .video {
    height: 250px;
  }

  .video-img-wrapper {
    display: none;
  }

  .video-description {
    width: 500px;
  } 

  .video-description__btn {
    bottom: 35px;
    left: 230px;
  }

  .testimonial-card-content-statistics p {
    font-size: 20px;
    line-height: 25px;
  }

  .testimonial-card-content-statistics p + p {
    margin-left: unset;
} 

  .testimonial-card-content-statistics p > span {
    font-size: 40px;
    line-height: 40px;
  }

  .contactus-form {
    display: none;
  }

  .contactus-btn {
    margin-top: 80px;
    display: block;
  }
}

@media (max-width: 635px) {
  .testimonial-companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .testimonial-companies > img + img {
    margin-top: 20px;
    margin-left: unset;
  }

  .popup-signup .form-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .popup-signup .form-btn button + * {
    margin-bottom: 20px;
    margin-left: unset;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }

  .home {
    padding: 40px 0 35px;
  }

  .home-content {
    width: 430px;
  }

  .home-content__text span {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .home-content__text {
    font-size: 18px;
    line-height: 32px;
  }

  .home-content__text + * {
    margin-top: 25px;
  } 

  .video__title {
    font-size: 35px;
    line-height: 50px;
  }

  .video__subtitle {
    font-size: 19px;
    line-height: 30px;
  }

  .video-content + * {
    margin-top: 10px;
  }

  .video-description {
    width: 450px;
  }

  .video-description__btn {
    bottom: 35px;
    left: 210px;
  }

  .description-img-wrapper {
    margin: 20px 0 0 0;
    width: 400px;
  }

  .description-content {
    width: 430px;
  }

  .description-content__title {
    font-size: 30px;
    line-height: 40px;
  }

  .description-content__title + * {
    margin-top: 20px;
  }

  .description-content p {
    font-size: 18px;
    line-height: 32px;
  }

  .heading-title {
    font-size: 35px;
    line-height: 30px;
  }

  .heading-subtitle-double-underscore {
    font-size: 19px;
    line-height: 30px;
  }

  .card__title {
    font-size: 25px;
    line-height: 35px;
  }

  .card-content p {
    font-size: 18px;
    line-height: 30px;
  }

  .testimonial__title {
    font-size: 35px;
    line-height: 30px;
  }

  .contactus {
    padding-bottom: 60px;
  }

  .popup__title {
    font-size: 45px;
  }
}

@media (max-width: 470px) {
  .button-play {
    font-size: 19px;
  }

  .button-play:before {
    width: 85px;
    height: 85px;
    left: -103px;
    top: -35px;
}

  .button-play::after {
    width: 70px;
    height: 70px;
    left: -95px;
    top: -28px;
  }

  .home-content {
    width: 380px;
  }

  .video-description {
    text-align: center;
    width: 400px;
  }

  .video-description__btn {
    left: 175px;
  }

  .description-content {
    width: 380px;
  }
  
  .description-img-wrapper {
    width: 380px;
  } 

  .ourproject-card {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .card {
    width: 400px;
  } 

  .testimonial-card-content__text {
    font-size: 17px;
  }
}

@media (max-width: 425px) {
  .home-content {
    width: 350px;
  }

  .home-content__text span {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .home-content__text {
    font-size: 17px;
    line-height: 30px;
  }

  .video__title {
    font-size: 30px;
    line-height: 40px;
  }

  .video-description {
    width: 350px;
  }

  .description-content__title {
    font-size: 28px;
    line-height: 37px;
  } 

  .description-content {
    width: 350px;
  }

  .description-img-wrapper {
    width: 350px;
  }

  .video-description__btn {
    left: 145px;
  }

  .ourproject-card {
    grid-template-columns: repeat(auto-fit, 350px);
  }

  .card {
    width: 350px;
  }

  .testimonial-card-content-statistics p {
    font-size: 19px;
    line-height: 23px;
  }

  .testimonial-card-content-statistics p > span {
    font-size: 37px;
    line-height: 35px;
  } 
}